$link-color: white;
$radio-color: #000;

body {
	overflow-x: hidden;
}

.home-images {
	padding:0 20px;
	 img{
		width: 450px;
		height: 293px;
		margin:20px;
	}
}

#icons {
	overflow: hidden;
}

@media (min-width:368px){
	body {
		font-size: 40px;
	}

	#icons {
		padding-top:50%;
	}

	#carousel {
		h1 {
			font-size: 85px;
    		padding-top: 20%;
		}
		p {
			font-size: 40px;
		}
		a {
			padding: 24px 63px;
		    font-size: 46px;
		    margin-top: 50px;
		}
	}


	.fa-2x {
		font-size: 3em;
	}
}

@media (min-width:1200px){
	#icons {
		padding-top:1%;
	}
}

label.btn {
	outline: none !important;
		span {
	  	font-size: 3em;
		line-height: 1.2;
		padding-left: 50px;
		&:hover,
		&:focus,
		&:active {
	    	outline: none;
	  	}
  }
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: $radio-color;    
    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    
    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
	color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: $radio-color;    
    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid $radio-color;
border-radius: 3px;
color: $radio-color;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}

