$link-color : white;

body {
	overflow-x: hidden;
}

.home-images {
	padding:0 20px;
	 img{
		width: 450px;
		height: 293px;
		margin:20px;
	}
}

#icons {
	overflow: hidden;
}

@media (min-width:368px){
	#icons {
		padding-top:50%;
	}

	#carousel {
		h1 {
			font-size: 85px;
    		padding-top: 20%;
		}
		p {
			font-size: 40px;
		}
		a {
			padding: 24px 63px;
		    font-size: 46px;
		    margin-top: 50px;
		}
	}

	#car {
		h1 {
			font-size: 85px;
    		padding-top: 20%;
		}
		p {
			font-size: 40px;
		}
		a {
			padding: 24px 63px;
		    font-size: 46px;
		    margin-top: 50px;
		}
	}


	#roller-coaster{
		h1 {
			font-size: 85px;
    		padding-top: 20%;
		}
		p {
			font-size: 40px;
		}
		a {
			padding: 24px 63px;
		    font-size: 46px;
		    margin-top: 50px;
		}
	}


	#ferris-wheel{
		h1 {
			font-size: 85px;
    		padding-top: 20%;
		}
		p {
			font-size: 40px;
		}
		a {
			padding: 24px 63px;
		    font-size: 46px;
		    margin-top: 50px;
		}
	}
}


@media (min-width:1200px){
	#icons {
		padding-top:1%;
	}
}
